Vcyber.BLMS.FrontWeb/Service References/HaiHangServiceReference/MemberService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService.edenred.com" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MemberService" targetNamespace="http://webService.edenred.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webService.edenred.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="PreferenceInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="QuestionAnswerId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdLocalData" type="tns:UpdLocalData" />
      <xs:element name="UpdLocalDataResponse" type="tns:UpdLocalDataResponse" />
      <xs:element name="changePassword" type="tns:changePassword" />
      <xs:element name="changePasswordResponse" type="tns:changePasswordResponse" />
      <xs:element name="getDeLicenceNo" type="tns:getDeLicenceNo" />
      <xs:element name="getDeLicenceNoResponse" type="tns:getDeLicenceNoResponse" />
      <xs:element name="modifyMemberProfile" type="tns:modifyMemberProfile" />
      <xs:element name="modifyMemberProfileResponse" type="tns:modifyMemberProfileResponse" />
      <xs:element name="permanentResidentsSave" type="tns:permanentResidentsSave" />
      <xs:element name="permanentResidentsSaveResponse" type="tns:permanentResidentsSaveResponse" />
      <xs:element name="queryIndvCustmFInfo" type="tns:queryIndvCustmFInfo" />
      <xs:element name="queryIndvCustmFInfoResponse" type="tns:queryIndvCustmFInfoResponse" />
      <xs:element name="resetPassword" type="tns:resetPassword" />
      <xs:element name="resetPasswordResponse" type="tns:resetPasswordResponse" />
      <xs:element name="submitRecruitmentMember" type="tns:submitRecruitmentMember" />
      <xs:element name="submitRecruitmentMemberResponse" type="tns:submitRecruitmentMemberResponse" />
      <xs:element name="updBasicProfileInfo" type="tns:updBasicProfileInfo" />
      <xs:element name="updBasicProfileInfoResponse" type="tns:updBasicProfileInfoResponse" />
      <xs:element name="updCustmAddress" type="tns:updCustmAddress" />
      <xs:element name="updCustmAddressResponse" type="tns:updCustmAddressResponse" />
      <xs:element name="updMemshpInfo" type="tns:updMemshpInfo" />
      <xs:element name="updMemshpInfoResponse" type="tns:updMemshpInfoResponse" />
      <xs:element name="updPersonAttribute" type="tns:updPersonAttribute" />
      <xs:element name="updPersonAttributeResponse" type="tns:updPersonAttributeResponse" />
      <xs:element name="verifyMemshpInfo" type="tns:verifyMemshpInfo" />
      <xs:element name="verifyMemshpInfoResponse" type="tns:verifyMemshpInfoResponse" />
      <xs:complexType name="queryIndvCustmFInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:QueryIndvCustmFInfoRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryIndvCustmFInfoRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SecurityRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="mobile_phone" type="xs:string" />
              <xs:element minOccurs="0" name="email" type="xs:string" />
              <xs:element minOccurs="0" name="custNo" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="SecurityRequest">
        <xs:sequence>
          <xs:element name="securityKey" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryIndvCustmFInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:QueryIndvCustmFInfoResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryIndvCustmFInfoResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:WSResponse">
            <xs:sequence>
              <xs:element name="personId" type="xs:int" />
              <xs:element minOccurs="0" name="licenceTypeId" type="xs:int" />
              <xs:element name="civilizationTitleId" type="xs:int" />
              <xs:element minOccurs="0" name="countryId" type="xs:int" />
              <xs:element minOccurs="0" name="provinceId" type="xs:int" />
              <xs:element name="infoChannelId" type="xs:int" />
              <xs:element minOccurs="0" name="updateInfoChannelId" type="xs:int" />
              <xs:element minOccurs="0" name="cityId" type="xs:int" />
              <xs:element minOccurs="0" name="createBy" type="xs:int" />
              <xs:element minOccurs="0" name="createTime" type="xs:string" />
              <xs:element minOccurs="0" name="settingBy" type="xs:int" />
              <xs:element minOccurs="0" name="familyName" type="xs:string" />
              <xs:element minOccurs="0" name="firstName" type="xs:string" />
              <xs:element minOccurs="0" name="birthday" type="xs:string" />
              <xs:element minOccurs="0" name="licenceNo" type="xs:string" />
              <xs:element minOccurs="0" name="email" type="xs:string" />
              <xs:element minOccurs="0" name="mobilePhone" type="xs:string" />
              <xs:element minOccurs="0" name="address" type="xs:string" />
              <xs:element minOccurs="0" name="zipCode" type="xs:string" />
              <xs:element minOccurs="0" name="remark" type="xs:string" />
              <xs:element minOccurs="0" name="personImageUrl" type="xs:string" />
              <xs:element minOccurs="0" name="password" type="xs:string" />
              <xs:element minOccurs="0" name="settingTime" type="xs:string" />
              <xs:element minOccurs="0" name="emailOption" type="xs:int" />
              <xs:element minOccurs="0" name="addressSN" type="xs:string" />
              <xs:element minOccurs="0" name="licenceTypeTourCode" type="xs:string" />
              <xs:element minOccurs="0" name="civilizationTitleTourCode" type="xs:string" />
              <xs:element minOccurs="0" name="countryTourCode" type="xs:string" />
              <xs:element minOccurs="0" name="provinceTourCode" type="xs:string" />
              <xs:element minOccurs="0" name="cityTourCode" type="xs:string" />
              <xs:element minOccurs="0" name="PreferenceInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="QuestionAnswerId" type="xs:int" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="WSResponse">
        <xs:sequence>
          <xs:element name="exitCode" type="xs:int" />
          <xs:element minOccurs="0" name="errorCode" type="xs:string" />
          <xs:element minOccurs="0" name="errorInfo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updPersonAttribute">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:UpdPersonAttributeRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdPersonAttributeRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SecurityRequest">
            <xs:sequence>
              <xs:element name="account_number" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="question_answer_rel_obj_list" type="tns:MemberQuestion" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="MemberQuestion">
        <xs:sequence>
          <xs:element name="question_code" type="xs:string" />
          <xs:element name="answer_code" type="xs:string" />
          <xs:element minOccurs="0" name="answer" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updPersonAttributeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ModifyMemberProfileResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ModifyMemberProfileResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:WSResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="account_number" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="resetPassword">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:ResetPasswordRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResetPasswordRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SecurityRequest">
            <xs:sequence>
              <xs:element name="account_number" type="xs:string" />
              <xs:element name="mobile" type="xs:string" />
              <xs:element name="language" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="resetPasswordResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ResetPasswordResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResetPasswordResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:WSResponse">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="updCustmAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:UpdCustmAddressRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdCustmAddressRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SecurityRequest">
            <xs:sequence>
              <xs:element name="account_number" type="xs:string" />
              <xs:element name="country_code" type="xs:string" />
              <xs:element name="province_code" type="xs:string" />
              <xs:element name="city_code" type="xs:string" />
              <xs:element name="address" type="xs:string" />
              <xs:element name="zip_code" type="xs:string" />
              <xs:element name="addressSN" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="updCustmAddressResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ModifyMemberProfileResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="permanentResidentsSave">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:PermanentResidentsSaveRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PermanentResidentsSaveRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SecurityRequest">
            <xs:sequence>
              <xs:element name="account_number" type="xs:string" />
              <xs:element name="family_name" type="xs:string" />
              <xs:element name="first_name" type="xs:string" />
              <xs:element name="mobile_phone" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="permanentResidentsSaveResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:PermanentResidentsSaveResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PermanentResidentsSaveResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:WSResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="hotelOrderPersonCode" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="updBasicProfileInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:UpdBasicProfileInfoRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdBasicProfileInfoRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SecurityRequest">
            <xs:sequence>
              <xs:element name="account_number" type="xs:string" />
              <xs:element name="civilization_title_code" type="xs:string" />
              <xs:element name="family_name" type="xs:string" />
              <xs:element name="first_name" type="xs:string" />
              <xs:element minOccurs="0" name="birthday" type="xs:string" />
              <xs:element minOccurs="0" name="country_code" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="updBasicProfileInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ModifyMemberProfileResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updMemshpInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:UpdMemshpInfoRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdMemshpInfoRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SecurityRequest">
            <xs:sequence>
              <xs:element name="account_number" type="xs:string" />
              <xs:element minOccurs="0" name="birthday" type="xs:string" />
              <xs:element minOccurs="0" name="license_type_code" type="xs:string" />
              <xs:element minOccurs="0" name="license_no" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="mobile_phone" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="updMemshpInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ModifyMemberProfileResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modifyMemberProfile">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:ModifyMemberProfileRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ModifyMemberProfileRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SecurityRequest">
            <xs:sequence>
              <xs:element name="account_number" type="xs:string" />
              <xs:element name="civilization_title_code" type="xs:string" />
              <xs:element name="family_name" type="xs:string" />
              <xs:element name="first_name" type="xs:string" />
              <xs:element minOccurs="0" name="birthday" type="xs:string" />
              <xs:element minOccurs="0" name="license_type_code" type="xs:string" />
              <xs:element minOccurs="0" name="license_no" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="mobile_phone" type="xs:string" />
              <xs:element minOccurs="0" name="country_code" type="xs:string" />
              <xs:element minOccurs="0" name="province_code" type="xs:string" />
              <xs:element minOccurs="0" name="city_code" type="xs:string" />
              <xs:element minOccurs="0" name="address" type="xs:string" />
              <xs:element minOccurs="0" name="zip_code" type="xs:string" />
              <xs:element minOccurs="0" name="remark" type="xs:string" />
              <xs:element minOccurs="0" name="person_image_url" type="xs:string" />
              <xs:element minOccurs="0" name="hotel_code" type="xs:string" />
              <xs:element minOccurs="0" name="email_option" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="question_answer_rel_obj_list" type="tns:MemberQuestion" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="modifyMemberProfileResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ModifyMemberProfileResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdLocalData">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:UpdLocalDataRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdLocalDataRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SecurityRequest">
            <xs:sequence>
              <xs:element name="account_number" type="xs:string" />
              <xs:element name="remark" type="xs:string" />
              <xs:element minOccurs="0" name="person_image_url" type="xs:string" />
              <xs:element minOccurs="0" name="hotel_code" type="xs:string" />
              <xs:element minOccurs="0" name="email_option" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="UpdLocalDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ModifyMemberProfileResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDeLicenceNo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:LicenceNoRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LicenceNoRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SecurityRequest">
            <xs:sequence>
              <xs:element name="licenceNo" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getDeLicenceNoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:LicenceNoResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LicenceNoResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:WSResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="licenceNo" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="verifyMemshpInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:VerifyMemshpInfoRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VerifyMemshpInfoRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SecurityRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="mobile_phone" type="xs:string" />
              <xs:element minOccurs="0" name="email" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="verifyMemshpInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:VerifyMemshpInfoResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VerifyMemshpInfoResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:WSResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="membNo" type="xs:string" />
              <xs:element minOccurs="0" name="signonUser" type="xs:string" />
              <xs:element minOccurs="0" name="membMobile" type="xs:string" />
              <xs:element minOccurs="0" name="membEmail" type="xs:string" />
              <xs:element minOccurs="0" name="signonPass" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="submitRecruitmentMember">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:RecruitmentMemberRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecruitmentMemberRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SecurityRequest">
            <xs:sequence>
              <xs:element name="civilization_title_code" type="xs:string" />
              <xs:element name="family_name" type="xs:string" />
              <xs:element name="first_name" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="mobile_phone" type="xs:string" />
              <xs:element minOccurs="0" name="hotel_code" type="xs:string" />
              <xs:element minOccurs="0" name="password" type="xs:string" />
              <xs:element minOccurs="0" name="email_option" type="xs:int" />
              <xs:element name="language" type="xs:string" />
              <xs:element minOccurs="0" name="segment" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="submitRecruitmentMemberResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:RecruitmentMemberResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecruitmentMemberResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:WSResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="account_number" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="changePassword">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:ChangePasswordRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ChangePasswordRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SecurityRequest">
            <xs:sequence>
              <xs:element name="account_number" type="xs:string" />
              <xs:element name="mobile" type="xs:string" />
              <xs:element name="old_password" type="xs:string" />
              <xs:element name="new_password" type="xs:string" />
              <xs:element name="language" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="changePasswordResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ChangePasswordResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ChangePasswordResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:WSResponse">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="updMemshpInfoResponse">
    <wsdl:part name="parameters" element="tns:updMemshpInfoResponse" />
  </wsdl:message>
  <wsdl:message name="resetPassword">
    <wsdl:part name="parameters" element="tns:resetPassword" />
  </wsdl:message>
  <wsdl:message name="permanentResidentsSave">
    <wsdl:part name="parameters" element="tns:permanentResidentsSave" />
  </wsdl:message>
  <wsdl:message name="UpdLocalData">
    <wsdl:part name="parameters" element="tns:UpdLocalData" />
  </wsdl:message>
  <wsdl:message name="UpdLocalDataResponse">
    <wsdl:part name="parameters" element="tns:UpdLocalDataResponse" />
  </wsdl:message>
  <wsdl:message name="resetPasswordResponse">
    <wsdl:part name="parameters" element="tns:resetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="updBasicProfileInfoResponse">
    <wsdl:part name="parameters" element="tns:updBasicProfileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="updPersonAttribute">
    <wsdl:part name="parameters" element="tns:updPersonAttribute" />
  </wsdl:message>
  <wsdl:message name="permanentResidentsSaveResponse">
    <wsdl:part name="parameters" element="tns:permanentResidentsSaveResponse" />
  </wsdl:message>
  <wsdl:message name="submitRecruitmentMemberResponse">
    <wsdl:part name="parameters" element="tns:submitRecruitmentMemberResponse" />
  </wsdl:message>
  <wsdl:message name="verifyMemshpInfo">
    <wsdl:part name="parameters" element="tns:verifyMemshpInfo" />
  </wsdl:message>
  <wsdl:message name="getDeLicenceNoResponse">
    <wsdl:part name="parameters" element="tns:getDeLicenceNoResponse" />
  </wsdl:message>
  <wsdl:message name="modifyMemberProfile">
    <wsdl:part name="parameters" element="tns:modifyMemberProfile" />
  </wsdl:message>
  <wsdl:message name="modifyMemberProfileResponse">
    <wsdl:part name="parameters" element="tns:modifyMemberProfileResponse" />
  </wsdl:message>
  <wsdl:message name="submitRecruitmentMember">
    <wsdl:part name="parameters" element="tns:submitRecruitmentMember" />
  </wsdl:message>
  <wsdl:message name="queryIndvCustmFInfo">
    <wsdl:part name="parameters" element="tns:queryIndvCustmFInfo" />
  </wsdl:message>
  <wsdl:message name="updCustmAddressResponse">
    <wsdl:part name="parameters" element="tns:updCustmAddressResponse" />
  </wsdl:message>
  <wsdl:message name="getDeLicenceNo">
    <wsdl:part name="parameters" element="tns:getDeLicenceNo" />
  </wsdl:message>
  <wsdl:message name="updBasicProfileInfo">
    <wsdl:part name="parameters" element="tns:updBasicProfileInfo" />
  </wsdl:message>
  <wsdl:message name="updCustmAddress">
    <wsdl:part name="parameters" element="tns:updCustmAddress" />
  </wsdl:message>
  <wsdl:message name="changePasswordResponse">
    <wsdl:part name="parameters" element="tns:changePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="verifyMemshpInfoResponse">
    <wsdl:part name="parameters" element="tns:verifyMemshpInfoResponse" />
  </wsdl:message>
  <wsdl:message name="updMemshpInfo">
    <wsdl:part name="parameters" element="tns:updMemshpInfo" />
  </wsdl:message>
  <wsdl:message name="updPersonAttributeResponse">
    <wsdl:part name="parameters" element="tns:updPersonAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="queryIndvCustmFInfoResponse">
    <wsdl:part name="parameters" element="tns:queryIndvCustmFInfoResponse" />
  </wsdl:message>
  <wsdl:message name="changePassword">
    <wsdl:part name="parameters" element="tns:changePassword" />
  </wsdl:message>
  <wsdl:portType name="MemberService">
    <wsdl:operation name="queryIndvCustmFInfo">
      <wsdl:input name="queryIndvCustmFInfo" message="tns:queryIndvCustmFInfo" />
      <wsdl:output name="queryIndvCustmFInfoResponse" message="tns:queryIndvCustmFInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="updPersonAttribute">
      <wsdl:input name="updPersonAttribute" message="tns:updPersonAttribute" />
      <wsdl:output name="updPersonAttributeResponse" message="tns:updPersonAttributeResponse" />
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <wsdl:input name="resetPassword" message="tns:resetPassword" />
      <wsdl:output name="resetPasswordResponse" message="tns:resetPasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="updCustmAddress">
      <wsdl:input name="updCustmAddress" message="tns:updCustmAddress" />
      <wsdl:output name="updCustmAddressResponse" message="tns:updCustmAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="permanentResidentsSave">
      <wsdl:input name="permanentResidentsSave" message="tns:permanentResidentsSave" />
      <wsdl:output name="permanentResidentsSaveResponse" message="tns:permanentResidentsSaveResponse" />
    </wsdl:operation>
    <wsdl:operation name="updBasicProfileInfo">
      <wsdl:input name="updBasicProfileInfo" message="tns:updBasicProfileInfo" />
      <wsdl:output name="updBasicProfileInfoResponse" message="tns:updBasicProfileInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="updMemshpInfo">
      <wsdl:input name="updMemshpInfo" message="tns:updMemshpInfo" />
      <wsdl:output name="updMemshpInfoResponse" message="tns:updMemshpInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="modifyMemberProfile">
      <wsdl:input name="modifyMemberProfile" message="tns:modifyMemberProfile" />
      <wsdl:output name="modifyMemberProfileResponse" message="tns:modifyMemberProfileResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdLocalData">
      <wsdl:input name="UpdLocalData" message="tns:UpdLocalData" />
      <wsdl:output name="UpdLocalDataResponse" message="tns:UpdLocalDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDeLicenceNo">
      <wsdl:input name="getDeLicenceNo" message="tns:getDeLicenceNo" />
      <wsdl:output name="getDeLicenceNoResponse" message="tns:getDeLicenceNoResponse" />
    </wsdl:operation>
    <wsdl:operation name="verifyMemshpInfo">
      <wsdl:input name="verifyMemshpInfo" message="tns:verifyMemshpInfo" />
      <wsdl:output name="verifyMemshpInfoResponse" message="tns:verifyMemshpInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="submitRecruitmentMember">
      <wsdl:input name="submitRecruitmentMember" message="tns:submitRecruitmentMember" />
      <wsdl:output name="submitRecruitmentMemberResponse" message="tns:submitRecruitmentMemberResponse" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input name="changePassword" message="tns:changePassword" />
      <wsdl:output name="changePasswordResponse" message="tns:changePasswordResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemberServiceSoapBinding" type="tns:MemberService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="queryIndvCustmFInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="queryIndvCustmFInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryIndvCustmFInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updPersonAttribute">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updPersonAttribute">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updPersonAttributeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="resetPassword">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="resetPasswordResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updCustmAddress">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updCustmAddress">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updCustmAddressResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="permanentResidentsSave">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="permanentResidentsSave">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="permanentResidentsSaveResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updBasicProfileInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updBasicProfileInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updBasicProfileInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updMemshpInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updMemshpInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updMemshpInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyMemberProfile">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="modifyMemberProfile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="modifyMemberProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdLocalData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="UpdLocalData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdLocalDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeLicenceNo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDeLicenceNo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDeLicenceNoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyMemshpInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="verifyMemshpInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="verifyMemshpInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitRecruitmentMember">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="submitRecruitmentMember">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="submitRecruitmentMemberResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="changePassword">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="changePasswordResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberService">
    <wsdl:port name="MemberServicePort" binding="tns:MemberServiceSoapBinding">
      <soap:address location="http://lps.tanglarewards.com/HNAWebService/webService/memberWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>